<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>
  {{#if logged_in}}
  <form>
    <textarea id="commentText"></textarea>
    <button id="postButton">Post your comment!</button>
  </form>
  {{/if}}

  {{> comments post.comments}}

</div>

<script src="/js/comment.js"></script>