<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>
  {{#if logged_in}}
  <form>
    <textarea id="commentText"></textarea>
    <button id="postButton">Post your comment!</button>
  </form>
  {{/if}}
  <br><br>
  <h3>Previous Post Comments:</h3>
  
  <div>
    {{#each comment as |comment|}}
    <h4>{{comment.user.name}} posted on {{format_date comment.createdAt}}</h4>
    <p>{{comment.body}}</p>
    {{/each}}
  </div>
</div>

</div>

<script src="/js/comment.js"></script>